/* 

--- 01 TYPOGRAPHY SYSTEM

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font weights:
Defaults: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 
Small: 
medius: 
Paragraph default: 

- Letter spacing

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--- 02 COLORS

- Primary: #C539B4
- Tints: #3B1136


- Shades:


- Accents:
- Greys:
#82687F
#f3d7f0



------ 05 SHADOWS

----- 06 BORDER-RADIUS
Default: 9px

----- 07 WHITESPACE

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rosarivo:ital@0;1&family=Rubik:wght@300;400;500;700&display=swap');

nav{
  margin-top: 3rem;
}

ul{
  list-style: none;
}

a:link,
a:visited{
  text-decoration: none;
}

/*******************/
/* NAVIGATION SECTION */
/*******************/

.nav-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  border: 3px solid #000;
}

.logo-icon{
  color: #000;
  height: 2.4rem;
  width: 2.4rem;
}

.nav-list-items{
  font-size: 1.8rem;
  border: 1px solid #f3d7f0;
  padding: 0.8rem 3.2rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-list-items:hover,
.nav-list-items:active{
  border: 1px solid #C539B4;
}

.item:link,
.item:visited{
  color: #C539B4;
}

/*******************/
/* HOME SECTION */
/*******************/

.home-section{
  text-align: center;
  margin-top: 12.8rem;
  background-size: 100vh;
  padding-bottom: 18.8rem;
}

.name{
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #C539B4;
}

.home-description{
  font-size: 1.6rem;
  margin-top: 4.8rem;
}

.home-link:link,
.home-link:visited{
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 4.8rem;
  color: #fff;
  text-transform: uppercase;
  background-color: #C539B4;
  padding: 1.6rem 4.2rem;
  border-radius: 50px;
  transition: all 0.3s;
}

.home-link:hover,
.home-link:active{
  background-color: #b133a2;
}

/*******************/
/* ABOUT SECTION */
/*******************/
/* .about{
  padding-top: 18.8rem;
} */

.line{
  background-color: #C539B4;
  padding: 0.3rem;
  width: 5rem;
  margin-bottom: 4.8rem;
}

.about-me-section{
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 34rem;
  /* row-gap: 4.8rem; */
  align-items: center;
  justify-content: center;
}

.about-me-description{
  font-size: 1.4rem;
  width: 30rem;
  line-height: 1.4;
  margin-top: 1.6rem;
}

.about-me-header{
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: 'Rosarivo', sans-serif;
  font-style: italic;
  margin-top: 1.6rem;
}

.about-img{
  width: 20rem;
}

.img{
  position: relative;
}

.img::after{
  display: block;
  content: '';
  background-color: #C539B4;
  position: absolute;
  /* padding: 6rem; */
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  top: -6%;
  left: -6%;
  z-index: -2;
  /* transform: translate(-50% -50%); */
}

.about-details{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 16.8rem;
  row-gap: 8rem;
  margin-top: 8rem;
}

.icon{
  width: 3.6rem;
  height: 3.6rem;
  background-color: #C539B4;
  padding: 0.8rem;
  color: #fff;
  border-radius: 50%;
}

.details-text{
  width: 18rem;
  margin-top: 1.6rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

/*******************/
/* PROJECT SECTION */
/*******************/

.project-description{
  width: 55rem;
  font-size: 1.4rem;
  line-height: 1.4;
  line-break: anywhere;
  margin-top: 3.2rem;
}

.project-card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  margin-top: 8rem;
  margin-left: 9rem;
  margin-right: 9rem;
}


.project-img{
  width: 30rem;
}

.project-text{
  width: 32rem;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 2.4rem;
}

.demo-link:link,
.demo-link:visited{
  display: block;
  color: #C539B4;
  font-size: 1.6rem;
  margin-top: 1.6rem;
}

.demo-link:active,
.demo-link:hover{
  color: #b133a2;
}

.more-btn{
  text-align: center;
}

.more-link:link,
.more-link:visited{
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  color: #b133a2;
  margin-top: 6.4rem;
  border: 1px solid #C539B4;
  padding: 1.2rem 4.8rem;
  border-radius: 50px;
}

.more-link:active,
.more-link:hover{
  border-color: #b133a2;
}

/*******************/
/* SKILLS SECTION */
/*******************/

.skills{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* .skills-progress{
  margin-bottom: 2.4rem;
}

.skills-p-header{
  font-size: 2rem;
  font-weight: 400;
}

.skills-p-color{
  background-color: #C539B4;
} */

.skills-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.skills-p-header{
  font-size: 2rem;
  font-weight: 400;
}

.progress-bar{
  height: 0.5rem;
  width: 100%;
  background: #D9D9D9;
  border-radius: 10px;
  margin-bottom: 1.6rem;
  position: relative;
}

.progress-bar::before{
  content: '';
  position: absolute;
  background-color: #C539B4;
  height: 100%;
  width: 85%;
  left: 0;
  top: 0;
}

.css::before{
  max-width: 60%;
}

.t-css:before{
  max-width: 25%;
}

.js::before{
  max-width: 40%;
}

/*******************/
/* CONTACT-US SECTION */
/*******************/

.contact-us{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}

.description{
  font-size: 1.4rem;
  line-height: 1.4;
  line-break: anywhere;
  margin-top: 4.8rem;
}

.contact-details{
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 2.4rem;
}

.c-icon{
  background-color: #fff !important;
  color: #C539B4;
}

.contact-d-heading{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.contact-d-text{
  font-size: 1.8rem;
  font-weight: 300;
}

.message-form{
  margin-top: 3.2rem;
}
/* 
.form-flex{
  display: flex;
  gap: 1.6rem;
  width: 50%;
} */

.message-form input{
  border: 1px solid #82687F;
  padding: 1.2rem 0.9rem;
  width: 100%;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  border-radius: 5px;
}

.message-form input::placeholder{
  font-size: 1.6rem;
  align-items: center;
}

.message-form input:hover,
.message-form input:focus{
  border: 2px solid #C539B4;
  outline: #C539B4;
}

.message-text{
  height: 8rem;
}

textarea{
  resize: none;
  border: 1px solid #82687F;
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
}

textarea::placeholder{
  font-size: 1.6rem;
}

textarea:focus,
textarea:hover{
  border: 2px solid #C539B4;
  outline: #C539B4;
}

.btn{
  margin-top: 1.6rem;
  padding: 1rem 1.6rem;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  background-color: #C539B4;
  color: #fff;
  border-radius: 5px;
}

.btn:hover{
  background-color: #b133a2;
}

/*******************/
/* FOOTER SECTION */
/*******************/

.footer{
  border-top: 1px solid #D9D9D9;
  text-align: center;
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.footer-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  margin-bottom: 3.2rem;
}

.footer-text{
  font-size: 1.8rem;
}

.footer-c{
  background: none;
  color: #C539B4;
  border: 1px solid #82687F;
  transition: all 0.5s ease;
}

.footer-c:hover{
  background-color: #C539B4;
  color: #fff;
  border: none;
}